@import url("https://use.typekit.net/yna5rie.css"); /* Shader Inline, Nunito, Puffin Arcade, Adobe Handwriting Tiffany */

:root {
  --spaceMonkey1: #EE3700;
  --spaceMonkey2: #29EE4A;
  --spaceMonkey3: #940887;
  --spaceMonkey4: #11AFA0;
  --spaceMonkey5: #11AFA0;
  --layoutColor1: #092327;
  --layoutColor2: #645986;
  --layoutColor3: #1F8969;
  --layoutColor4: #820343;
  --layoutColor5: #DB2955;
  --layoutColor6: #22265a;
  --layoutColor7: #44008B;
}

* {
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-family: 'Adobe Handwriting Tiffany';
  font-size: 45pt;
  font-weight: 900;
  font-style:oblique;
  color: var(--layoutColor5);
}

body {
  background: var(--layoutColor6);
}

#startForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#userQuestions {
  border: 2px solid var(--layoutColor5);
  height:fit-content;
  width:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

button  {
  margin:0 auto;
  height: 45px;
  width: fit-content;
  cursor: pointer;
  background-color: var(--layoutColor4);
  font-family: 'Shader Inline', sans-serif;
}

button:hover {
  color: var(--spaceMonkey2);
}

label {
  color: var(--layoutColor3);
  font-family: 'Puffin Arcade', sans-serif;
}

ul {
  list-style: none;
  font-family: 'Shader Inline', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  background: var(--layoutColor6);
  color: var(--spaceMonkey2);
}



.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
} 

table {
  border: 4px solid var(--spaceMonkey2);
}

img {
  width: 80px;
  margin-right: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#movingSelector {
  border: 6px solid red;
  width: 70px;
  height: 70px;
}

#selectImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}