@import url("https://use.typekit.net/yna5rie.css"); /* Shader Inline, Nunito, Puffin Arcade, Adobe Handwriting Tiffany */

:root {
  --spaceMonkey1: #EE3700;
  --spaceMonkey2: #29EE4A;
  --spaceMonkey3: #940887;
  --spaceMonkey4: #11AFA0;
  --spaceMonkey5: #11AFA0;
  --layoutColor1: #092327;
  --layoutColor2: #645986;
  --layoutColor3: #1F8969;
  --layoutColor4: #820343;
  --layoutColor5: #DB2955;
  --layoutColor6: #090e51;
  --layoutColor7: #44008B;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--layoutColor6);
}

h1 {
  font-family: 'Shader Inline';
  font-size: 40pt;
}

#theSun {
  position: fixed;
  top: calc(65% - 150px);
  left: calc(50% - 150px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #ffc401,
    inset -20px 0 80px #ffb007,
    inset 20px 0 300px #e29e01,
    inset -20px 0 300px #fced13,
    0 0 50px #db4925,
    -10px 0 80px #fb6422,
    10px 0 80px #e7c816;
}

#userOrbit {
  position: absolute;
  top:13rem;
  left:9rem;
  width: 320px;
  height: 320px;
  border: 4px #4A437F dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 1s linear infinite;
  animation: spin-right 10s linear infinite;
}

.computerImage {
  position: absolute;
  top: 62px;
  left: -6px;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #9F98E6;
}

#computerOrbit {
  position: relative;
  top: 5rem;
  left: 10rem;
  width: 224px;
  height: 224px;
  border: 4px #4A437F dotted;
  border-radius: 100%;
  -webkit-animation: spin-right 40s linear infinite;
  animation: spin-right 10s linear infinite;
}

.userImage {
  position: relative;
  top: -17px;
  left: 125px;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #00FFCA;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#gameplayContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Shader Inline', sans-serif;
  font-size: 12pt;
  color: var(--spaceMonkey1);
}

/* TODO: make style changes for the popup */
/* ths was pulled straight from the internet with not customization made */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}