@import url("https://use.typekit.net/yna5rie.css"); /* Shader Inline, Nunito, Puffin Arcade, Adobe Handwriting Tiffany */

:root {
  --spaceMonkey1: #EE3700;
  --spaceMonkey2: #29EE4A;
  --spaceMonkey3: #940887;
  --spaceMonkey4: #11AFA0;
  --spaceMonkey5: #11AFA0;
  --layoutColor1: #092327;
  --layoutColor2: #645986;
  --layoutColor3: #1F8969;
  --layoutColor4: #820343;
  --layoutColor5: #DB2955;
  --layoutColor6: #090e51;
  --layoutColor7: #44008B;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--layoutColor5);
}

h1 {
  font-family: 'Shader Inline';
  font-size: 50pt;
}

#listContainer, ul {
  list-style: none;
  font-family: 'Shader Inline', sans-serif;
  font-size: 15pt
}

a {
  text-decoration: none;
}

a:hover {
  background: var(--layoutColor6);
  color: var(--spaceMonkey2);
}

#listContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid var(--layoutColor3);
  width: fit-content;
  text-align: center;
  padding-right: 2rem;
}

.listSubject {
  border-bottom: 3px solid var(--spaceMonkey2);
}

button {
  width: fit-content;
  height: 40px;
  color: var(--layoutColor1);
  background-color: var(--spaceMonkey4);
  font-family: 'Shader Inline';
}

button:hover {
  background-color: var(--spaceMonkey2);
  cursor: pointer;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Shader Inline';
  margin-top: 30px;
} 

.nav-container li{
  border: 10px solid transparent;
}